[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
websockets = "*"
uvicorn = {extras = ["standard"], version = "*"}
pynput = "*"
pyautogui = "*"
fastapi-sessions = "*"
tinydb = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = ">=3.10"
